@model IEnumerable<GopherToolboxRefresh.Models.Order>

@{
	ViewData["Title"] = "Zarządzanie podjętymi zadaniami";
}

<h1>Zarządzanie podjętymi zadaniami</h1>

@if (!Model.Any())
{
	<p>Brak podjętych zadań.</p>
}
else
{
	<div class="card adminSets">
		<table class="table">
			<thead>
				<tr>
					<th>Nazwa Questa</th>
					<th>Użytkownik</th>
					<th>Miejsce</th>
					<th>Data Prośby</th>
					<th>Akcja</th>
				</tr>
			</thead>
			<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Quest.Name</td>
					<td>@item.User?.Email</td>
					<td>@item.Quest.Address</td>
					<td>@item.OrderDate.ToShortDateString()</td>
					@if (item.CancellationRequested)
					{
						@if (item.IsCanceled)
						{
							<td class="text-danger">Anulowane</td>
						}
						else
						{
							<td class="text-warning">Wysłana prośba o anulowanie</td>
						}
					}
					else
					{
						<td class="text-success">Przyjęte zgłoszenie</td>
					}
				</tr>
			}
			</tbody>
		</table>
	</div>
}