@using System.Linq;
@using Microsoft.AspNetCore.Identity;
@using GopherToolboxRefresh.Models;

@{
    ViewData["Title"] = "Home Page";
    <h1>Nie mam pojęcia jak to zrobiłeś ale udało ci się oszukać controller .NET 8.0</h1>
    <h1>Podziel się tym ze znajomymi</h1>
}
