@using System.Linq;
@using Microsoft.AspNetCore.Identity;
@using GopherToolboxRefresh.Models;

@{
    ViewData["Title"] = "Gopher ToolBox Refresh";
}

<div class="card">
    <div class="card-body adminSets">
		<h1>Witaj w aplikacji Gopher Toolbox Refresh</h1>
        <h4>
            <strong>Gopher Toolbox Refresh</strong> - jest aplikacją internetową stowrzoną od Gżdacza dla Gżdaczy. <br />
            Umożliwia użytkownikom przeglądanie dostępnych Questów z Gżdacz Roomu, rezerwowanie zadań, zarządzanie nimi oraz przeglądanie ich historii.
            Administrator ma możliwość dodawania, edytowania i usuwania Questów, a także zarządzania podjętymi zadaniammi przez użytkowników i rozpatrywania próśb o anulowanie ich. <br />
            <br />
            Aplikacja stworzona jako multikonwentowe centrum zarządzania Questami przez i w trakcie eventu.
        </h4>
	</div>
</div>


