@{
	ViewData["Title"] = "Polityka Prywatności";
}

<div class="card">
	<div class="card-body adminSets">
		<h1>Polityka Prywatności i Zgodność z RODO</h1>
		<h2>Studenci Uniwersytetu WSB Merito w Poznań</h2>
		<ol class="quest-info card-text" style="color: white;">
			<li>
				<p>
					<strong>Administrator Danych Osobowych:</strong><br>
					Administratorem danych osobowych są Studenci Uniwersytetu WSB Merito,
					<br /> z siedzibą w Poznaniu, przy ul. Powstańców Wielkopolskich 5.
				</p>
			</li>
			<li>
				<p>
					<strong>Cele przetwarzania danych osobowych:</strong><br>
					Twoje dane osobowe przetwarzamy w następujących celach:
				</p>
				<ul>
					<li>
						<p>
							Realizacja usług edukacyjnych i administracyjnych.
						</p>
					</li>
					<li>
						<p>
                            Poprawne działanie programu GopherToolboxRefresh
						</p>
					</li>
				</ul>
			</li>
			<li>
				<p>
					<strong>Podstawa prawna przetwarzania danych:</strong><br>
					Przetwarzanie Twoich danych osobowych odbywa się na podstawie:
				</p>
				<ul>
					<li>
						<p>
							Artykułu 6 ust. 1 lit. a RODO (zgoda osoby, której dane dotyczą).
						</p>
					</li>
					<li>
						<p>
                            Artykułu 6 ust. 1 lit. b RODO (niezbędność przetwarzania do wykonania umowy).
						</p>
					</li>
					<li>
						<p>
							Artykułu 6 ust. 1 lit. c RODO (wypełnienie obowiązku prawnego).
						</p>
					</li>
					<li>
						<p>
							Artykułu 6 ust. 1 lit. f RODO (prawnie uzasadnione interesy realizowane przez administratora).
						</p>
					</li>
				</ul>
			</li>
			<li>
				<p>
					<strong>Odbiorcy danych:</strong><br>
					Twoje dane osobowe nie będą przekazywane:
				</p>
				<ul>
					<li>
						<p>
							Podmiotom upoważnionym na podstawie przepisów prawa.
						</p>
					</li>
					<li>
						<p>
							Podmiotom współpracującym z Studenci Uniwersytetu WSB Merito w Poznań na podstawie umów powierzenia przetwarzania danych.
						</p>
					</li>
				</ul>
				<p>
					Program służy jedynie do zaliczenia przedmiotu oraz realizacji przetwarzania danych przez program
				</p>
			</li>
			<li>
				<p>
					<strong>Okres przechowywania danych:</strong><br>
					Twoje dane osobowe będą przechowywane przez okres niezbędny do realizacji celów, dla których zostały zebrane, a także zgodnie z obowiązującymi przepisami prawa.
				</p>
			</li>
			<li>
				<p>
					<strong>Twoje prawa:</strong><br>
					Masz prawo do:
				</p>
				<ul>
					<li>
						<p>
							Dostępu do swoich danych osobowych oraz otrzymania ich kopii.
						</p>
					</li>
					<li>
						<p>
							Sprostowania swoich danych osobowych.
						</p>
					</li>
					<li>
						<p>
							Usunięcia swoich danych osobowych.
						</p>
					</li>
					<li>
						<p>
							Ograniczenia przetwarzania swoich danych osobowych.
						</p>
					</li>
					<li>
						<p>
							Przenoszenia swoich danych osobowych.
						</p>
					</li>
					<li>
						<p>
							Wniesienia sprzeciwu wobec przetwarzania swoich danych osobowych.
						</p>
					</li>
					<li>
						<p>
							Cofnięcia zgody na przetwarzanie danych osobowych (jeśli przetwarzanie odbywa się na podstawie zgody).
						</p>
					</li>
				</ul>
			</li>
			<li>
				<p>
					<strong>Kontakt w sprawach związanych z ochroną danych osobowych:</strong><br>
					W przypadku pytań dotyczących przetwarzania danych osobowych, prosimy o kontakt pod adresem e-mail: <a href="mailto:rodo@admin.pl">rodo@admin.pl</a>.
				</p>
			</li>
			<li>
				<p>
					<strong>Prawo do wniesienia skargi:</strong><br>
					Masz prawo do wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych, jeśli uznasz, że przetwarzanie Twoich danych osobowych narusza przepisy RODO.
				</p>
			</li>
		</ol>
		<p>
			Studenci Uniwersytetu WSB Merito w Poznań dbajaą o ochronę Twoich danych osobowych i stosuje odpowiednie środki techniczne oraz organizacyjne, aby zapewnić ich bezpieczeństwo zgodnie z obowiązującymi przepisami prawa.
		</p>
	</div>
</div>
</div>

