@page
@model GopherToolboxRefresh.Areas.Identity.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Logowanie - Gopher ToolBox";
}

<div class="row">
    <div class="col-md-4">
        <form class="logowanie" method="post">
            <h5 class="log-txt">Logowanie do aplikacji Gopher Toolbox.</h5>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="log-txt" asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="log-txt" asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
           <br />
            <div class="form-group">
                <button type="submit" class="log-butt">Zaloguj</button>
            </div>
        </form>
    </div>
</div>

